@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background-color: #0054a3;
}

.Homepage {
  background-image: url(https://app.teachr.fr/static/media/bg-home-page.73d8c66a6849aa86f410.svg);
}

.ColorTextHomepage {
  color: #0054a3;
  font-size: 30px !important;
}
